{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:react-hooks/recommended",
    "airbnb"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "radix": "off",
    "no-plusplus": "off",
    "react-hooks/exhaustive-deps": "off"
  },
  "parser": "@babel/eslint-parser",
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@ns/apollo", "./src/apollo"],
          ["@ns/components", "./src/components"],
          ["@ns/containers", "./src/containers"],
          ["@ns/redux", "./src/redux"],
          ["@ns/support", "./src/support"]
        ]
      },
      "node": {},
      "webpack": "./webpack.config.js"
    }
  }
}
