{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:react-hooks/recommended",
    "airbnb"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-plusplus": "off",
    "react-hooks/exhaustive-deps": "off"
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": "./webpack.config.js"
    }
  }
}
