HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### NPM ###
/frontend/node/**/*
/frontend/node_modules/**/*
/src/main/resources/static/js/**/*
/src/main/resources/static/css/**/*
/src/main/resources/static/fonts/**/*
/src/main/resources/static/files/**/*
/src/main/resources/static/favicon.ico
/src/main/resources/templates/*.html
/frontend/npm-debug.log
/frontend/package-lock.json

### Properties ###
/src/main/resources/*.properties
!/src/main/resources/application.properties
!/src/main/resources/default.properties
/.mvn/settings.xml

###
/src/test/resources/*.xls
/src/test/resources/*.xlsx
