<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <title>Hello demo</title>
    <link rel="stylesheet" href="/generated/styles.css" />
</head>
<body>
    <div id="root"/>
    <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
    <script src="/generated/appBundle.js"></script>
    <script src="http://wow.zamimg.com/widgets/power.js"></script>
</body>
</html>